*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(228, 228, 215);
}

header{
    background-color: rgb(3, 179, 126);
    padding: 40px 0;
    position: fixed;
    width: 100%;
}

#container{
    padding-top: 20px;
    margin: 0 20%;
    position: relative;
}

#upbar{
    display: flex;
    justify-content: space-between;
}

#user, #contactchat{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(198, 198, 198);
    align-items: center;
}

#user, #contactlist {
    width: 40%;
}

#contactchat, #chat{
    width: 60%;
}

#chat, #contactlist {
    height: 600px;
}

#chat{
    background-color: antiquewhite;

}

#contactlist{
    background-color: rgb(255, 255, 255);

}

#upbar i{
    padding: 0 5px;
}


#notice{
    display: flex;
    align-items: center;
    background-color: rgb(0, 217, 255);
    padding-left: 10px;
    height: 60px;
}

#circle {
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    color: rgb(0, 217, 255);
    font-size: 20px;
    width: 10%;
    height: 35px;
    padding-top: 5px;
    margin-right: 12px;
    text-align: center;
}

#circleuser{
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
    font-size: 20px;
    width: 40px;
    height: 35px;
    padding-top: 5px;
    margin-right: 12px;
}


#contactchat div:first-of-type, #user div:first-of-type{
    display: flex;
    align-items: center;
}

#col{
    display: flex;
}

#lst{
    height: 540px;
    background-color: rgb(255, 255, 255);
}

#search{
    background-color: rgb(198, 198, 198);
    align-items: center;
    padding: 5px 0;
}

#search input{
    padding: 5px 0;
    width: 60%;
    border: 0;
}

#search i{
    background-color: white;
    padding: 5px 0;
    margin-left: 5px;
    border-right: 2px solid rgb(198, 198, 198);
    text-align: center;
    width: 50px;
}

#search div{
    background-color: white;
    margin: 0 5px;
}