<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Boolzapp</title>
</head>
<body>
    <header>
    </header>
    <main>
        <div id="container">
               <div id="upbar">
                    <div id="user">
                        <div>
                            <img class="circleuser" src="img/4.png" alt="">
                            <h4>Sofia</h4>
                        </div>
                        <div>
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-regular fa-comment"></i>
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                    <div id="contactchat">
                        <div>
                            <div>
                                <img class="circleuser" :src="contacts[active_contact].avatar" alt="User Image" >
                            </div>
                            <div>
                                <h4>{{ contacts[active_contact].name }}</h4>
                                <p>Ultimo accesso oggi alle 12:00</p>
                            </div>
                        </div>
                        <div>
                            <i class="fa-solid fa-genderless"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
               </div> 
               <div id="col">
                    <div id="contactlist">
                        <div id="notice">
                            <div id="circle">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div>
                                <h4>Ricevi notifiche di nuovi messaggi</h4>
                                <p><u> Attiva notifiche desktop</u></p>
                            </div>
                        </div>
                        <div id="search">
                            <div>
                                <i class="fa-solid fa-plus"></i>
                                <input type="text" placeholder="Cerca o inizia una nuova chat">
                            </div>
                        </div>
                        <ul>
                            <li v-for="(contact, index) in contacts"
                            @click="switchcontact(index)"
                            :class="index == active_contact ? 'active' : ''">
                                <div>
                                    <div>
                                        <img class="circleuser" :src="contact.avatar" alt="User Image" >
                                    </div>
                                    <div>
                                        <h4>{{ contact.name }}</h4>
                                        <p>Ultimo messaggio inviato</p>
                                    </div>
                                </div>
                                <span>12:30</span>
                            </li>
                        </ul>
                    </div>
                    <div id="chat">
                        <div id="box">
                            <div id="message">
                                <div v-for="message_object in contacts[active_contact].messages" :class="message_object.status">
                                    <p>{{ message_object.message }}</p>
                                    <span>12:00</span>
                                </div>
                            </div>
                        </div>
                        <div id="write">
                            <i class="fa-solid fa-face-smile"></i>
                            <input type="text" placeholder="Scrivi un messaggio" v-model="nwmessage" @keyup.enter="sender">
                            <i class="fa-solid fa-microphone" @click="sender"></i>
                        </div>
                    </div>
                </div>
        </div>
    </main>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="js/main.js"></script>
</body>
</html>